.hotelsList {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--pd-or-mg-20) 0px;

    .listSearch {
        width: 20%;
        min-width: 300px; 
    }
    
    .listResult {
        flex: 1;
        padding: 0px var(--pd-or-mg-20);

        .searchLoading {
            font-weight: bold;
        }

        .resultTitle {
            margin-bottom: var(--pd-or-mg-20);
        
            .title {
        
            }
        
            .map {
        
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .hotelsList {
        justify-content: start;
    }
}
